@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.main-div {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background-color: lightcyan;
  text-shadow: 1px 1px 4px white;
}

.card-div {
  background-color: #282c34;
  color: lightcyan;
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: 5px 5px 10px #282c34;
}

.title {
  font-size: 48px;
  text-transform: capitalize;
  color: cyan;
}

.hr-line {
  opacity: 1;
}

.data-div {
  margin: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 5px;
  color: #282c34;
  font-weight: 500;
  border-radius: 5px 0 0 5px;
  outline-color: lightcyan;
  outline: none;
}

.close-icon {
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding-top: 10px;
}

.close-icon span {
  width: 18px;
  height: 18px;
  font-size: 12px;
  background-color: red;
  border-radius: 100px;
  cursor: pointer;
  float: right;
}

.close-icon span:hover {
  background-color: rgb(200, 0, 0);
}

.city {
  font-size: 32px;
  padding: 20px;
}

.temp-data {
  font-size: 20px;
  font-weight: 300;
}

.temp-div {
  margin: 0;
  display: flex;
  justify-content: center;
}

.temp-div div {
  padding: 10px;
}

.temp-div div img {
  width: 75px;
  padding-bottom: 10px;
}